# 10 Minutes to pandas

C'est une courte introduction à pandas. Vous pouvez voir des recettes plus complex dans CookBook.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Création d'objets

Créer une série en passant une list de valeurs, laisser pandas créer un index d'entier par défaut.

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Créer un **DataFrame** en passant un numpy array, avec un index datetime et des colonnes nommées.

In [6]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.706506  0.473884  0.277181 -1.674777
2013-01-02  1.962879 -0.145179 -1.314026  1.405218
2013-01-03  0.728919  0.065547 -1.596099  0.857663
2013-01-04 -0.953409  0.715792  0.748867 -1.946769
2013-01-05  0.616567  0.409631  0.721692  1.993932
2013-01-06  0.388785  0.324639 -0.581461 -0.056746

Créer un **DataFrame** en passant un dictionnaire d'objets qui peut être converti en series.

In [10]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Ayant des types spécifiques

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Si vous utilisez IPython, la completion des onglets pour les noms de colonnes (ainsi que les attributs publics) est automatiquement activée. Voici un sous-ensemble des attributs qui seront complétés:

# Visualisation de données

In [13]:
df.head()

                   A         B         C         D
2013-01-01  0.706506  0.473884  0.277181 -1.674777
2013-01-02  1.962879 -0.145179 -1.314026  1.405218
2013-01-03  0.728919  0.065547 -1.596099  0.857663
2013-01-04 -0.953409  0.715792  0.748867 -1.946769
2013-01-05  0.616567  0.409631  0.721692  1.993932

In [15]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.953409  0.715792  0.748867 -1.946769
2013-01-05  0.616567  0.409631  0.721692  1.993932
2013-01-06  0.388785  0.324639 -0.581461 -0.056746

Afficher l'index, les colonnes et les numpy data surlignées

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.values

array([[ 0.70650631,  0.47388422,  0.27718067, -1.6747768 ],
       [ 1.96287908, -0.1451787 , -1.31402573,  1.40521834],
       [ 0.72891878,  0.06554743, -1.59609894,  0.85766321],
       [-0.95340875,  0.71579159,  0.74886729, -1.94676948],
       [ 0.61656661,  0.40963082,  0.72169166,  1.99393223],
       [ 0.388785  ,  0.32463918, -0.581461  , -0.05674638]])

describe(), montre un rapide résumé statistique de vos données

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.575041  0.307386 -0.290641  0.096420
std    0.931625  0.306127  1.026054  1.626543
min   -0.953409 -0.145179 -1.596099 -1.946769
25%    0.445730  0.130320 -1.130885 -1.270269
50%    0.661536  0.367135 -0.152140  0.400458
75%    0.723316  0.457821  0.610564  1.268330
max    1.962879  0.715792  0.748867  1.993932

Transporter vos données

In [21]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.706506    1.962879    0.728919   -0.953409    0.616567    0.388785
B    0.473884   -0.145179    0.065547    0.715792    0.409631    0.324639
C    0.277181   -1.314026   -1.596099    0.748867    0.721692   -0.581461
D   -1.674777    1.405218    0.857663   -1.946769    1.993932   -0.056746

Ordonner par un axe

In [22]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -1.674777  0.277181  0.473884  0.706506
2013-01-02  1.405218 -1.314026 -0.145179  1.962879
2013-01-03  0.857663 -1.596099  0.065547  0.728919
2013-01-04 -1.946769  0.748867  0.715792 -0.953409
2013-01-05  1.993932  0.721692  0.409631  0.616567
2013-01-06 -0.056746 -0.581461  0.324639  0.388785

Ordonner par valeur

In [24]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-02  1.962879 -0.145179 -1.314026  1.405218
2013-01-03  0.728919  0.065547 -1.596099  0.857663
2013-01-06  0.388785  0.324639 -0.581461 -0.056746
2013-01-05  0.616567  0.409631  0.721692  1.993932
2013-01-01  0.706506  0.473884  0.277181 -1.674777
2013-01-04 -0.953409  0.715792  0.748867 -1.946769

# Getting
Sélection d'une seule colonne, qui donne une série, équivalent à df.A

In [25]:
df['A']

2013-01-01    0.706506
2013-01-02    1.962879
2013-01-03    0.728919
2013-01-04   -0.953409
2013-01-05    0.616567
2013-01-06    0.388785
Freq: D, Name: A, dtype: float64

Selectionner via [], ce qui coupe les rangés

In [26]:
df[0:3]

                   A         B         C         D
2013-01-01  0.706506  0.473884  0.277181 -1.674777
2013-01-02  1.962879 -0.145179 -1.314026  1.405218
2013-01-03  0.728919  0.065547 -1.596099  0.857663

# Selection par label
Pour obtenir une coupe transversale à l'aide d'un label

In [27]:
df.loc[dates[0]]

A    0.706506
B    0.473884
C    0.277181
D   -1.674777
Name: 2013-01-01 00:00:00, dtype: float64

Selection sur plusieurs axes par label

In [28]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.706506  0.473884
2013-01-02  1.962879 -0.145179
2013-01-03  0.728919  0.065547
2013-01-04 -0.953409  0.715792
2013-01-05  0.616567  0.409631
2013-01-06  0.388785  0.324639

Affiche les label séparés, les deux extrémitées sont incluses

In [29]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  1.962879 -0.145179
2013-01-03  0.728919  0.065547
2013-01-04 -0.953409  0.715792

Pour avoir une valeur scalaire

In [30]:
df.loc[dates[0], 'A']

0.7065063092781384

Pour avoir un acces rapide à un sclaire (équivalent à la method prior)

In [31]:
df.at[dates[0], 'A']

0.7065063092781384

# Selection par position
Selectioner via la position des entier passés

In [33]:
df.iloc[3]

A   -0.953409
B    0.715792
C    0.748867
D   -1.946769
Name: 2013-01-04 00:00:00, dtype: float64

Par entiers séparés, agit de la même façon que numpy/python

In [34]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.953409  0.715792
2013-01-05  0.616567  0.409631

Par des listes d'emplacements de positions entières, semblables au style numpy / python

In [35]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  1.962879 -1.314026
2013-01-03  0.728919 -1.596099
2013-01-05  0.616567  0.721692

Pour séparer les rangées explicitement

In [37]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  1.962879 -0.145179 -1.314026  1.405218
2013-01-03  0.728919  0.065547 -1.596099  0.857663

Pour séparer les colonnes explicitement

In [38]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.473884  0.277181
2013-01-02 -0.145179 -1.314026
2013-01-03  0.065547 -1.596099
2013-01-04  0.715792  0.748867
2013-01-05  0.409631  0.721692
2013-01-06  0.324639 -0.581461

Pour avoir une valeur explicite

In [41]:
df.iloc[1,1]

-0.14517869724165275

Pour avoir u accès rapide à un scalaire

In [43]:
df.iat[1,1]

-0.14517869724165275

# Indexation de Boolean
Utiliser les valeurs d'une seule colonne pour selectionner des données

In [44]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.706506  0.473884  0.277181 -1.674777
2013-01-02  1.962879 -0.145179 -1.314026  1.405218
2013-01-03  0.728919  0.065547 -1.596099  0.857663
2013-01-05  0.616567  0.409631  0.721692  1.993932
2013-01-06  0.388785  0.324639 -0.581461 -0.056746

Une opération **where** pour avoir

In [45]:
df[df>0]

                   A         B         C         D
2013-01-01  0.706506  0.473884  0.277181       NaN
2013-01-02  1.962879       NaN       NaN  1.405218
2013-01-03  0.728919  0.065547       NaN  0.857663
2013-01-04       NaN  0.715792  0.748867       NaN
2013-01-05  0.616567  0.409631  0.721692  1.993932
2013-01-06  0.388785  0.324639       NaN       NaN

Utiliser la méthode **isin()** pour filtrer

In [47]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01  0.706506  0.473884  0.277181 -1.674777    one
2013-01-02  1.962879 -0.145179 -1.314026  1.405218    one
2013-01-03  0.728919  0.065547 -1.596099  0.857663    two
2013-01-04 -0.953409  0.715792  0.748867 -1.946769  three
2013-01-05  0.616567  0.409631  0.721692  1.993932   four
2013-01-06  0.388785  0.324639 -0.581461 -0.056746  three

In [48]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.728919  0.065547 -1.596099  0.857663   two
2013-01-05  0.616567  0.409631  0.721692  1.993932  four

# Setting
La définition d'une nouvelle colonne aligne automatiquement les données par les index

In [52]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [53]:
df['F'] = s1

Définir des valeurs par label

In [54]:
df.at[dates[0],'A'] = 0

Définir des valeurs par position

In [55]:
df.iat[0,1] = 0

Définir par assignement avec un numpy array

In [56]:
df.loc[:,'D'] = np.array([5] * len(df))

Le résultat des opérations de réglage préalable

In [57]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.277181  5  NaN
2013-01-02  1.962879 -0.145179 -1.314026  5  1.0
2013-01-03  0.728919  0.065547 -1.596099  5  2.0
2013-01-04 -0.953409  0.715792  0.748867  5  3.0
2013-01-05  0.616567  0.409631  0.721692  5  4.0
2013-01-06  0.388785  0.324639 -0.581461  5  5.0

Une opération **where** avec réglage

In [60]:
df2 = df.copy()
df2[df2>0] = -df2
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.277181 -5  NaN
2013-01-02 -1.962879 -0.145179 -1.314026 -5 -1.0
2013-01-03 -0.728919 -0.065547 -1.596099 -5 -2.0
2013-01-04 -0.953409 -0.715792 -0.748867 -5 -3.0
2013-01-05 -0.616567 -0.409631 -0.721692 -5 -4.0
2013-01-06 -0.388785 -0.324639 -0.581461 -5 -5.0

# Données manquantes
Pandas utilise principalement la valeur np.nan pour représenter les données manquantes. Il est par défaut non inclus dans les calculs.

La réinitialisation vous permet de modifier / ajouter / supprimer l'index sur un axe spécifié. Cela retourne une copie des données.

In [61]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.277181  5  NaN  1.0
2013-01-02  1.962879 -0.145179 -1.314026  5  1.0  1.0
2013-01-03  0.728919  0.065547 -1.596099  5  2.0  NaN
2013-01-04 -0.953409  0.715792  0.748867  5  3.0  NaN

Pour supprimer les lignes dont les données manquantes

In [63]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2013-01-02  1.962879 -0.145179 -1.314026  5  1.0  1.0

Remplir les données manquantes

In [64]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01  0.000000  0.000000  0.277181  5  5.0  1.0
2013-01-02  1.962879 -0.145179 -1.314026  5  1.0  1.0
2013-01-03  0.728919  0.065547 -1.596099  5  2.0  5.0
2013-01-04 -0.953409  0.715792  0.748867  5  3.0  5.0

To get the boolean mask where values are nan

In [65]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

# Opérations
**Stats**

Les opérations excluent en général les données manquantes

Effectuer une statistique descriptive

In [66]:
df.mean()

A    0.457290
B    0.228405
C   -0.290641
D    5.000000
F    3.000000
dtype: float64

Même opération avec un autre axe

In [67]:
df.mean(1)

2013-01-01    1.319295
2013-01-02    1.300735
2013-01-03    1.239673
2013-01-04    1.702250
2013-01-05    2.149578
2013-01-06    2.026393
Freq: D, dtype: float64

Fonctionnement avec des objets qui ont une dimension différente et ont besoin d'alignement. En outre, les pandas diffusent automatiquement le long de la dimension spécifiée.

In [68]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [69]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -0.271081 -0.934453 -2.596099  4.0  1.0
2013-01-04 -3.953409 -2.284208 -2.251133  2.0  0.0
2013-01-05 -4.383433 -4.590369 -4.278308  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

# Apply
Appliquer les fonctions aux données

In [70]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01  0.000000  0.000000  0.277181   5   NaN
2013-01-02  1.962879 -0.145179 -1.036845  10   1.0
2013-01-03  2.691798 -0.079631 -2.632944  15   3.0
2013-01-04  1.738389  0.636160 -1.884077  20   6.0
2013-01-05  2.354956  1.045791 -1.162385  25  10.0
2013-01-06  2.743741  1.370430 -1.743846  30  15.0

In [71]:
df.apply(lambda x: x.max() - x.min())

A    2.916288
B    0.860970
C    2.344966
D    0.000000
F    4.000000
dtype: float64

# Histogramme

In [72]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    4
1    6
2    6
3    3
4    2
5    4
6    0
7    1
8    6
9    3
dtype: int32

In [73]:
s.value_counts()

6    3
4    2
3    2
2    1
1    1
0    1
dtype: int64

# Méthodes String
Series est équipé d'un ensemble de méthodes de traitement de chaîne dans l'attribut str qui le rendent facile à utiliser sur chaque élément du tableau, comme dans l'extrait de code ci-dessous. Notez que le pattern-matching dans str utilise généralement des expressions régulières par défaut (et dans certains cas les utilise toujours). Voir plus dans les Méthodes Vectorized String.

In [74]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

# Merge
**Concat**

Pandas offre diverses facilités pour combiner facilement des objets Series, DataFrame et Panel avec différents types de logique de consigne pour les index et la fonctionnalité d'algèbre relationnelle dans le cas d'opérations de type join / merge.

Concaténation des objets pandas avec concat ():

In [75]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  0.517832 -0.401095  0.568660  0.492068
1  0.486558  0.106252 -0.940976 -1.012796
2  1.995473  0.826158  0.138864 -0.883366
3  0.125915 -1.866013  0.811071  0.412549
4  0.861953 -0.217794 -0.834297 -0.473638
5 -1.342518  0.871409 -0.464068  0.553220
6 -0.743605  0.642197  0.196604  0.262348
7 -1.246837 -0.092800 -0.673356  0.702475
8  0.069524 -0.267623  1.975939 -0.125136
9  1.376890  0.042651 -0.563949  0.634859

In [76]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0  0.517832 -0.401095  0.568660  0.492068
1  0.486558  0.106252 -0.940976 -1.012796
2  1.995473  0.826158  0.138864 -0.883366
3  0.125915 -1.866013  0.811071  0.412549
4  0.861953 -0.217794 -0.834297 -0.473638
5 -1.342518  0.871409 -0.464068  0.553220
6 -0.743605  0.642197  0.196604  0.262348
7 -1.246837 -0.092800 -0.673356  0.702475
8  0.069524 -0.267623  1.975939 -0.125136
9  1.376890  0.042651 -0.563949  0.634859

**Join**

In [79]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
left

   key  lval
0  foo     1
1  foo     2

In [80]:
right

   key  rval
0  foo     4
1  foo     5

In [81]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

**Append**

Ajouter des lignes à un dataframe

In [82]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0 -0.333665 -0.083192 -0.095121  0.534628
1  0.399462  1.362190  0.239219 -1.629632
2 -1.158892 -0.473561  0.826099  1.122087
3 -0.499119 -0.121301 -0.774986  0.298739
4  1.572712  0.819846 -0.951400 -1.432816
5  0.533334  0.337038 -0.159551 -0.561668
6  0.650847 -0.802829  1.956635 -1.188482
7  0.103468  0.106339 -0.487645 -1.606953

In [83]:
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.333665 -0.083192 -0.095121  0.534628
1  0.399462  1.362190  0.239219 -1.629632
2 -1.158892 -0.473561  0.826099  1.122087
3 -0.499119 -0.121301 -0.774986  0.298739
4  1.572712  0.819846 -0.951400 -1.432816
5  0.533334  0.337038 -0.159551 -0.561668
6  0.650847 -0.802829  1.956635 -1.188482
7  0.103468  0.106339 -0.487645 -1.606953
8 -0.499119 -0.121301 -0.774986  0.298739

# Grouping

Par "group by", on entend un processus impliquant une ou plusieurs des étapes suivantes

* Diviser les données en groupes en fonction de certains critères

* Appliquer une fonction à chaque groupe indépendamment

* Combiner les résultats dans une structure de données

In [86]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one  0.032152 -0.374100
1  bar    one -0.228445 -1.168949
2  foo    two  1.596883 -0.924774
3  bar  three  1.117761  1.124538
4  foo    two  0.546787  0.316548
5  bar    two  0.572847 -0.281016
6  foo    one  0.629453 -0.333479
7  foo  three -0.254519  0.126028

# Reshaping

**Stack**

In [87]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                   'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                    'one', 'two', 'one', 'two']]))

In [88]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
df2

                     A         B
first second
bar   one     0.962217 -0.103887
      two     1.978198 -1.157340
baz   one    -0.969368  0.931923
      two     1.361604 -2.542011

La méthode **stack()** compresse un niveau de colonne de DataFrame

In [90]:
stacked = df2.stack()
stacked

first  second
bar    one     A    0.962217
               B   -0.103887
       two     A    1.978198
               B   -1.157340
baz    one     A   -0.969368
               B    0.931923
       two     A    1.361604
               B   -2.542011
dtype: float64

Avec un DataFrame ou une série "empilés" (ayant un index MultiIndex), l'opération inverse de stack () est unstack (), qui désempile par défaut le dernier niveau:

In [91]:
stacked.unstack()

                     A         B
first second
bar   one     0.962217 -0.103887
      two     1.978198 -1.157340
baz   one    -0.969368  0.931923
      two     1.361604 -2.542011

In [92]:
stacked.unstack(1)

second        one       two
first
bar   A  0.962217  1.978198
      B -0.103887 -1.157340
baz   A -0.969368  1.361604
      B  0.931923 -2.542011

In [93]:
stacked.unstack(0)

first          bar       baz
second
one    A  0.962217 -0.969368
       B -0.103887  0.931923
two    A  1.978198  1.361604
       B -1.157340 -2.542011

**Pivot Tables**

In [95]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo  1.069536 -0.609521
1     one  B  foo -1.982980 -0.100540
2     two  C  foo -0.678146 -0.106095
3   three  A  bar -0.848566 -0.248896
4     one  B  bar -0.665188  0.858770
5     one  C  bar  0.737689 -3.493465
6     two  A  foo -1.996727 -1.367951
7   three  B  foo -0.153019  0.790751
8     one  C  foo -1.713951 -1.354472
9     one  A  bar  2.077957  0.835555
10    two  B  bar  1.348803 -1.813198
11  three  C  bar  0.840808 -0.368547

On peut produire une table pivot grace à ces données très facilement

In [96]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  2.077957  1.069536
      B -0.665188 -1.982980
      C  0.737689 -1.713951
three A -0.848566       NaN
      B       NaN -0.153019
      C  0.840808       NaN
two   A       NaN -1.996727
      B  1.348803       NaN
      C       NaN -0.678146