In [1]:
import pandas as pd
import numpy as np

In [61]:
dom1 = pd.Series({'Valeur': 'Big Data pour La Transformation Numerique',
                        'Departement': 'TIC'})
dom2 = pd.Series({'Valeur': 'Ingénieur d Affaire Informatique et Réseaux',
                        'Departement': 'TIC'})
dom3 = pd.Series({'Valeur': 'Inginerie des Systèmes Numériques',
                        'Departement': 'TIC'})
dom4 = pd.Series({'Valeur': 'Inginerie des Systèmes Médicaux',
                        'Departement': 'SEI'})
df = pd.DataFrame([dom1, dom2, dom3, dom4], index=['BDTN', 'IAIR', 'ISN', 'ISYMED'])
df

       Departement                                       Valeur
BDTN           TIC    Big Data pour La Transformation Numerique
IAIR           TIC  Ingénieur d Affaire Informatique et Réseaux
ISN            TIC            Inginerie des Systèmes Numériques
ISYMED         SEI              Inginerie des Systèmes Médicaux

In [62]:
df3 = pd.DataFrame({ 'Nom' : ['Legoff', 'Alexandre', 'Jouvin','Olivier', 'Drege', 'Chaudré'],
                     'Prenom' : ['Justin', 'Samy', 'Louis', 'Justin', 'Pierre', 'Adrien'],
                     'Code' : [df.index[2], df.index[1], df.index[3], df.index[0], df.index[0], df.index[0]]})

df3

     Code        Nom  Prenom
0     ISN     Legoff  Justin
1    IAIR  Alexandre    Samy
2  ISYMED     Jouvin   Louis
3    BDTN    Olivier  Justin
4    BDTN      Drege  Pierre
5    BDTN    Chaudré  Adrien

In [68]:
(len(df.loc[df['Departement'] == 'SEI'])*100)/4

25.0

In [69]:
pourcentage = pd.DataFrame({ '%' : [(len(df.loc[df['Departement'] == 'TIC'])*100)/4,
                                    (len(df.loc[df['Departement'] == 'SEI'])*100)/4],
                             'Code' : ['TIC', 'SEI']})

pourcentage

      % Code
0  75.0  TIC
1  25.0  SEI

In [79]:
pourcentage.to_csv('pourcentage.csv',sep='\t')